
# Ignore extensionless files.
*
!*/
!*.*

# Don't ignore these:
!/build

# Editor/environment-specific stuff.
/ols.json
/.vscode/

# Trace files.
*.spall

# Directory used for spitting out random files by tests
/test

# Intermediate and other binary files
*.o
*.a
*.elf
*.bin
