
# Editor/environment-specific stuff.
/ols.json
/.vscode

# Trace files.
*.spall

# The main executable
/pesticider

# Intermediate and other binary files
*.o
*.a
*.elf
*.bin

# TODO: remove this
*.i
